body{
  margin: 0;
}

.intro-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f6f7fb;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  color: #293264;
  overflow: hidden;
}

.quiz-screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f6f7fb;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  color: #293264;
  overflow: hidden;
}

// intro screen
.intro-container {
  text-align: center;
  button {
    margin-top: 20px;
    padding: 15px;
    width: 180px;
  }
}

.intro-yellow-circle{
  position: absolute;
  top: -100px;
  right: -150px;
  border-radius: 50% 90% 40% 80%;
  background-color: #fffad0;
  width: 250px;
  height: 250px;
}

.intro-blue-circle{
  position: absolute;
  bottom: -100px;
  left: -150px;
  background-color: #ddebf8;
  border-radius: 50% 40% 60% 60%;
  width: 250px;
  height: 250px;
}


//question screen
.questions-container{
  width: 60%;
  margin: 0 auto;
  // height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    margin: 10px;
    font-size: 1rem;
  }
}

.question-container {
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px #d6dbf5;
  z-index: 2;
}

.two-answers-container, .four-answers-container{
  display: flex;
  justify-content: left;
  align-items: center;
}
.answer{
  font-size: 0.8rem;
  text-align: center;
  margin: 10px;
  padding: 8px 20px;
  border-radius: 12px;
  cursor: pointer;
  z-index: 2;
  span{

  }
}
button{
  border: none;
  border-radius: 10px;
  background-color: #4d5b9e;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.check-answer-btn {
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 15px;
  width: 250px;
  z-index: 2;
}

.restart-container{
  margin: 35px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  z-index: 3;
  .restart-btn{
    padding: 15px 10px;
    width: 250px;
    margin-left: 10px;
  }
}

.quiz-yellow-circle{
  position: absolute;
  top: -120px;
  right: -150px;
  // z-index: -1;
  border-radius: 50% 60% 10% 90%;
  background-color: #fffad0;
  width: 250px;
  height: 250px;
}

.quiz-blue-circle{
  position: absolute;
  bottom: -150px;
  left: -100px;
  z-index: 1;
  background-color: #ddebf8;
  border-radius: 50% 90% 40% 60%;
  width: 250px;
  height: 250px;
}


@media only screen and (max-width: 600px) {
  .quiz-screen-container{
    overflow: scroll;
  }
  .questions-container{
    margin-top: 50px;
    height: 100%;
  }

  .question-container{
    h4{
      font-size: 0.9rem;
    }
    .four-answers-container {
      display: grid;
      grid-template: 1fr 1fr/1fr 1fr;
    }
    .two-answers-container {
      display: grid;
      grid-template: 1fr/1fr 1fr;
    }
    .answer{
      font-size: 0.8rem;
      text-align: center;
      margin: 10px;
      padding: 2px;
      border-radius: 12px;
      cursor: pointer;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .quiz-blue-circle{
    position: absolute;
    bottom: -200px;
    left: -180px;
  }
}

@media only screen and (max-width: 800px) {
  .questions-container{
    margin: 50px auto;
  }
  .check-answer-btn{
    margin-top: 25px;
  }
}
