body{
  margin: 0;
}

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#f6f7fb;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  color: #293264;
  overflow: hidden;
}

// intro screen
.intro-container {
  text-align: center;
  button {
    margin-top: 20px;
    padding: 15px;
    width: 180px;
    background-color: #4d5b9e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

.intro-yellow-circle{
  position: absolute;
  top: -100px;
  right: -150px;
  border-radius: 50% 90% 40% 80%;
  background-color: #fffad0;
  width: 250px;
  height: 250px;
}

.intro-blue-circle{
  position: absolute;
  bottom: -100px;
  left: -150px;
  background-color: #ddebf8;
  border-radius: 50% 40% 60% 60%;
  width: 250px;
  height: 250px;
}


//question screen
.questions-container{
  min-width: 70%;
  margin: 0 auto;
  // height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    margin: 10px;
    font-size: 1rem;
  }
}

.question-container {
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px #d6dbf5;
  z-index: 2;
}

.answers-container {
  display: flex;
  justify-content: left;
  align-items: center;
  .answer{
    font-size: 0.8rem;
    text-align: center;
    margin: 10px;
    padding: 8px 20px;
    border-radius: 12px;
    cursor: pointer;
    z-index: 2;
  }
}

.check-answer-btn {
  border: none;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  background-color: #4d5b9e;
  color: white;
  margin-top: 20px;
  font-size: 1rem;
  z-index: 2;
}

.quiz-yellow-circle{
  position: absolute;
  top: -120px;
  right: -150px;
  // z-index: -1;
  border-radius: 50% 60% 10% 90%;
  background-color: #fffad0;
  width: 250px;
  height: 250px;
}

.quiz-blue-circle{
  position: absolute;
  bottom: -150px;
  left: -100px;
  z-index: 1;
  background-color: #ddebf8;
  border-radius: 50% 90% 40% 60%;
  width: 250px;
  height: 250px;
}
